.applicationSummaryTable ,
.applicationSummaryTable tr,
.applicationSummaryTable td {
    border: 1px solid black;
    margin: auto;
}

.applicationSummaryTable {
    width: 80%;
    margin-bottom: 60px;
}

.applicationSummaryTable td{
    padding:10px;
}

