/*
Post Grad Management System Project Files
2015
Authors: Kadin Boyle
*/
/* 
    Created on : Aug 14, 2015, 3:56:07 PM
    Author     : Kadin
*/
/*### Login Form Styling ------------------------------*/
 .loginForm h2 {
    width:95%;
    font-size: 26px;
    line-height: 28px;
    padding: 0;
    margin: 14px auto 14px 30px;
    border-bottom: 2px solid #CCC;
    font-family:"Minion Pro", Georgia, serif;
}
.loginFormFieldset {
    width:480px;
    height:160px;
    padding:25px 0px 50px 0px;
    background-color:#CCC;
    margin:auto;
}
.loginFormFieldset legend {
    font-family:"Minion Pro", Georgia, serif;
    font-size:18px;
    margin-left:15px;
}
.loginFormFieldset span {
    float:right;
    margin-right:65px;
}
.loginFormFieldset input[type=text], input[type=password] {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;
    /* for IE7*/
    zoom:1;
    /* for IE7*/
    vertical-align:middle;
    margin-left:20px;
    width:250px;
}
.loginFormFieldset label {
    font: 13px Helvetica, Arial, Geneva, sans-serif;
    display:inline-block;
    *display: inline;
    /* for IE7*/
    zoom:1;
    /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}
/** Style for just yellow button position in this fielset **/
 .loginFormFieldset .yellowButton {
    margin-top:20px;
    margin-right:65px;
    float:right;
    clear:both;
}
/*--- END LOGIN FORM STYLING ------------*/



.registerFormFieldset{
    padding:5px 0px 50px 0px;
    background-color:#CCC;
    margin:auto;
    max-width: 650px;
}

.registerFormFieldset legend{
    font-family:"Minion Pro", Georgia, serif;
    font-size:18px;
    margin-left:15px;
}

.registerFormDiv h2{
    width:95%;
    font-size: 26px;
    line-height: 28px;
    padding: 0;
    margin: 14px auto 14px 30px;
    border-bottom: 2px solid #CCC;
    font-family:"Minion Pro", Georgia, serif;
}

.form-green input[type="submit"] {
    float:right;
    clear:both;
}

/** Green Form Styling - can be reused - kadin **/

 .form-green {
     margin-left:auto;
     margin-right:auto;
     font-weight: bold;
     max-width: 500px;
     padding: 30px 30px 20px 30px;
}

 .form-green h1>span {
     display: block;
     font-size: 11px;
     color: #FFF;
}

 .registerFormFieldset label {
     color:black !important;
     font: 13px Helvetica, Arial, Geneva, sans-serif;
     font-weight: bold;
     display: block;
     margin: 0px 0px 5px;
}
 .form-green label>span {
     float: left;
     margin-top: 10px;
     color: #5E5E5E;
}
 .form-green input[type="text"], input[type="email"], input[type="password"], textarea, select {
     color: #555;
     height: 30px;
     line-height:15px;
     width: 100%;
     padding: 0px 0px 0px 10px;
     margin-top: 2px;
     border: 1px solid #E5E5E5;
     background: #FBFBFB;
     outline: 0;
     -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
     box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
     font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.form-green radio{
    display:inline;
}

 .form-green textarea{
     height:100px;
     padding-top: 10px;
}
 .form-green select {
    appearance:none;
     -webkit-appearance:none; 
    -moz-appearance: none;
     text-indent: 0.01px;
     text-overflow: '';
     width:100%;
     height:30px;
}
 
 .form-green .button:hover {
     background-color:#80A24A;
}
