#managePrograms {
    width: 80%;
    margin: 40px auto;
    font-size: 20px;
}

#managePrograms table {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#managePrograms table tr td:nth-child(1) {
    text-align: right;
}

#managePrograms table button {
    width: 100%;
}

.saveButton, 
.discardButton,
.enableButton {
    display: none;
}

.editInput {
    line-height: 30px;
    font-size: 20px;
    display: none;
}



#createProgram {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

#createProgram input[type="text"] {
    width: 70%;
}

#createProgram input[type="submit"] {
    width: 100%;

}

#createProgram input ,
#createProgram select {
    font-size: 20px;
    line-height:30px;
    margin-bottom: 10px;
}

#createProgram select {
    width: 27%;
}

