/*
Post Grad Management System Project Files
2015
Authors: Kadin Boyle
*/
/* 
    Created on : Aug 14, 2015, 3:56:07 PM
    Author     : Kadin
*/
/*### Login Form Styling ------------------------------*/
 .loginForm h2 {
    width:95%;
    font-size: 26px;
    line-height: 28px;
    padding: 0;
    margin: 14px auto 14px 30px;
    border-bottom: 2px solid #CCC;
    font-family:"Minion Pro", Georgia, serif;
}
.loginFormFieldset {
    width:480px;
    height:160px;
    padding:25px 0px 50px 0px;
    background-color:#CCC;
    margin:auto;
}
.loginFormFieldset legend {
    font-family:"Minion Pro", Georgia, serif;
    font-size:18px;
    margin-left:15px;
}
.loginFormFieldset span {
    float:right;
    margin-right:65px;
}
.loginFormFieldset input[type=text], input[type=password] {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;
    /* for IE7*/
    zoom:1;
    /* for IE7*/
    vertical-align:middle;
    margin-left:20px;
    width:250px;
}
.loginFormFieldset label {
    font: 13px Helvetica, Arial, Geneva, sans-serif;
    display:inline-block;
    *display: inline;
    /* for IE7*/
    zoom:1;
    /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}
/** Style for just yellow button position in this fielset **/
 .loginFormFieldset .yellowButton {
    margin-top:20px;
    margin-right:65px;
    float:right;
    clear:both;
}
/*--- END LOGIN FORM STYLING ------------*/


/** -------------- YELLOW BUTTON STYLE -------- **/
/** Style for yellowButton in general, can be reused **/
 .yellowButton {
    padding: 4px 25px 4px 25px;
    border: 2px solid #a37a00;
    background: #e6ad00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc23), to(#e6ad00));
    background: -webkit-linear-gradient(top, #ffcc23, #e6ad00);
    background: -moz-linear-gradient(top, #ffcc23, #e6ad00);
    background: -ms-linear-gradient(top, #ffcc23, #e6ad00);
    background: -o-linear-gradient(top, #ffcc23, #e6ad00);
    background-image: -ms-linear-gradient(top, #ffcc23 0%, #e6ad00 100%);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #ffffff 0 1px 0;
    color: #000000;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.yellowButton:hover {
    cursor:pointer;
    border: 2px solid #a37a00;
    text-shadow: #ffffff 0 1px 0;
    background: #ffcc23;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6ad00), to(#ffcc23));
    background: -webkit-linear-gradient(top, #e6ad00, #ffcc23);
    background: -moz-linear-gradient(top, #e6ad00, #ffcc23);
    background: -ms-linear-gradient(top, #e6ad00, #ffcc23);
    background: -o-linear-gradient(top, #e6ad00, #ffcc23);
    background-image: -ms-linear-gradient(top, #e6ad00 0%, #ffcc23 100%);
    color: #000000;
}

/** Green Form Styling - can be reused - kadin **/

 .form-green {
     margin-left:auto;
     margin-right:auto;

     max-width: 500px;
     background: #F8F8F8;
     padding: 30px 30px 20px 30px;
     font: 12px Arial, Helvetica, sans-serif;
     color: #666;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
}
 .form-green h1 {
     font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
     padding: 20px 0px 20px 40px;
     display: block;
     margin: -30px -30px 10px -30px;
     color: #FFF;
     background: #9DC45F;
     text-shadow: 1px 1px 1px #949494;
     border-radius: 5px 5px 0px 0px;
     -webkit-border-radius: 5px 5px 0px 0px;
     -moz-border-radius: 5px 5px 0px 0px;
     border-bottom:1px solid #89AF4C;

}
 .form-green h1>span {
     display: block;
     font-size: 11px;
     color: #FFF;
}

 .form-green label {
     display: block;
     margin: 0px 0px 5px;
}
 .form-green label>span {
     float: left;
     margin-top: 10px;
     color: #5E5E5E;
}
 .form-green input[type="text"], .form-green input[type="email"], .form-green input[type="password"], .form-green textarea, .form-green select {
     color: #555;
     height: 30px;
     line-height:15px;
     width: 100%;
     padding: 0px 0px 0px 10px;
     margin-top: 2px;
     border: 1px solid #E5E5E5;
     background: #FBFBFB;
     outline: 0;
     -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
     box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
     font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.form-green radio{
    display:inline;
}

 .form-green textarea{
     height:100px;
     padding-top: 10px;
}
 .form-green select {
     background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
     background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    appearance:none;
     -webkit-appearance:none; 
    -moz-appearance: none;
     text-indent: 0.01px;
     text-overflow: '';
     width:100%;
     height:30px;
}
 .form-green .button {
     background-color: #9DC45F;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-border-radius: 5px;
     border: none;
     padding: 10px 25px 10px 25px;
     color: #FFF;
     text-shadow: 1px 1px 1px #949494;
}
 .form-green .button:hover {
     background-color:#80A24A;
}
