.applicationTitle {
    text-align: left;
    margin: 10px;
}

.applicationTitle a {
    text-decoration: none;
    color: black;
}

.applicationTitle a:hover {
    text-decoration: underline;
}

.applicationSummaryTable ,
.applicationSummaryTable tr,
.applicationSummaryTable td {
    border: 1px solid black;
}

.applicationSummaryTable {
    width: 80%;
    margin: 0 auto 60px auto;
    border-collapse: collapse;
}

.applicationSummaryTable td{
    padding:10px;
}

.applicationSummaryTable button {
    width: 100%;
}

.applicationSummaryTable th {
    text-align: center;
    font-weight: bold;
}

.applicationSummaryTable tr td:nth-child(2),
.applicationSummaryTable tr td:nth-child(3) {
    text-align: center;
}

.bottomTableRow {
    text-align: center;
    font-size: 20px;
}

.astGreen {
    background-color: #66FF66;
}

.astYellow {
    background-color: #FFFF66;
}

.astRed {
    background-color: #FF3300;
}
