@charset "utf-8";

/*
    Sitewide styling
*/

#main_content_area {
    border-style:solid;
    border-color:#CCC;
    min-height:200px;
    border-width:thick;
    margin-top:100px;
    margin-left:400px;
    margin-right:50px;
    width:auto;
    padding:0px 15px 15px 15px;
    overflow:hidden;
    overflow-wrap:normal;
    text-justify:auto;
    background:url(images/transparent_panel.png) repeat;
}

#container {
    
    border:0.5px solid black;
    padding:0;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background:url(images/uni_background.png) no-repeat center center fixed;
    width:100%;
    min-height:100%;
}

body, html {
    margin:0;
    padding:0;
    font-family:"Trebuchet MS", Georgia, Arial, Helvetica, sans-serif; 
    height:100%;
}

h1, h2, h3, h4 {
    text-align: center;
}

h4 {
    padding:0;
    margin:0;
    font: 18px "Trebuchet MS";	
}


/*
    Header
*/
#header_bar {
    background:#FFEC0F;
    height:45px;
    position:fixed;
    top:0;
    width: 100%;
}

    #header_bar p{
        padding-top:10px;
        color:#FFF;
        font: 24px "Trebuchet MS";
        font-weight:600;
        margin:0;
        padding-left:350px;
    }

 /*
    Sidebar
*/
#sidebar_container {
    z-index: 1;
    float:left;
    position:fixed;
    top: 0; 
    left: 50px;
    width: 250px;
    text-align: center;
}

    #sidebar_top {
        height:540px;
        background:url(images/nav_top.png) no-repeat;
        padding-top:20px;
        text-align:center;
        color:white;
    }

        #sidebar_top h3 {
            font: 50px "Trebuchet MS";
            padding:0;
            margin:0;	
        }

        #sidebar_top img{
            margin:auto;
            width:40%;
            height:auto;	
        }
        
        #sidebar_top legend {
            margin:auto;
            color:inherit;
            font-size: 16px;
        }
        
        #sidebar_top nav {
            margin-top:30px;
            width:250px;
            padding-bottom:30px;
        }

            #sidebar_top nav fieldset {
                width:80%;
                margin:auto;
                padding-bottom:8px;

            }

            #sidebar_top nav ul {
                list-style:none;
                margin:auto;
                padding:0;
            }

                #sidebar_top nav li{
                    padding-top:5px; 
                    height:20px; 
                    display:block;
                }

                    #sidebar_top a{
                        font-size: 12px;
                        height:20px; 
                        color:white;
                        text-decoration:none;
                    }

                    #sidebar_top a:hover{
                        color:#FFEC0F;
                    }

    #sidebar_bottom{

        height:200px;
        background:url(images/nav_bottom.png) no-repeat;
        background-size:100%;
        margin-left:1px;
    }
    
/*
    Footer
*/    
#footer {
    position: relative;
    z-index: 0;
    bottom:0;
    margin-top:100px;
    background:url(images/transparent_panel.png) repeat;
    clear:both;
    text-align:right;
    padding-right:20px;
    white-space: nowrap;
    height:30px;
}

    #footer p {
        padding:5px;
        margin:0;
    }
    
/*
    Wrapper
*/


.loginForm {
    margin: 0 auto;
}

.genericText{
    font: 14px Arial;
    line-height: 1.5;
    padding-left:20px;
    padding-right:20px;
}

/*
    Page Subnav Styling
*/
.subnav {
    margin-bottom: 10px;
}

    .subnav h2 {
        text-decoration: underline;
    }

    .subnav ul {
        margin:0;
        padding: 0;
        list-style: none;
        width: 100%;
        text-align: center;
    }

    .subnav li {
        display: inline-block;
        padding: 10px 30px;
        cursor: pointer;
    }
    
    .subnav a:hover,
    .subnav li:hover {
        color:#FFEC0F;
    }
    
    .subnav li a {
        text-decoration: none;
        color: black;
    }
    
    .subnav li:not(:last-child) {
        border-right: 1px black solid;
    }
    
.active {
    text-decoration: underline;
}
    
    
/** -------------- YELLOW BUTTON STYLE -------- **/
/** Style for yellowButton in general, can be reused **/
 .yellowButton {
    padding: 4px 25px 4px 25px;
    border: 2px solid #a37a00;
    background: #e6ad00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc23), to(#e6ad00));
    background: -webkit-linear-gradient(top, #ffcc23, #e6ad00);
    background: -moz-linear-gradient(top, #ffcc23, #e6ad00);
    background: -ms-linear-gradient(top, #ffcc23, #e6ad00);
    background: -o-linear-gradient(top, #ffcc23, #e6ad00);
    background-image: -ms-linear-gradient(top, #ffcc23 0%, #e6ad00 100%);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #ffffff 0 1px 0;
    color: #000000;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.yellowButton:hover {
    cursor:pointer;
    border: 2px solid #a37a00;
    text-shadow: #ffffff 0 1px 0;
    background: #ffcc23;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6ad00), to(#ffcc23));
    background: -webkit-linear-gradient(top, #e6ad00, #ffcc23);
    background: -moz-linear-gradient(top, #e6ad00, #ffcc23);
    background: -ms-linear-gradient(top, #e6ad00, #ffcc23);
    background: -o-linear-gradient(top, #e6ad00, #ffcc23);
    background-image: -ms-linear-gradient(top, #e6ad00 0%, #ffcc23 100%);
    color: #000000;
}

.tooltip {
    background: rgba(200, 200, 200, 0.5);
    padding: 20px 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.warningParagraph {
    text-align: center;
    font-size: 18px;
}

.warning {
    color: red;
    font-weight: bold;
}