@charset "utf-8";
/* CSS Document */

.genericText{
    font: 14px Arial;
    
    
}

body, html {
    margin:0;
    padding:0;
}

h4 {
    padding:0;
    margin:0;
    font: 18px "Trebuchet MS";	
}

#header_bar {
    background:#FFEC0F;
    clear:both;
    margin:0;
    height:45px;
    white-space: nowrap;
}

#header_bar p{
    padding-top:10px;
    color:#FFF;
    font: 24px "Trebuchet MS";
    font-weight:600;
    margin:0;
    padding-left:350px;
}

#footer p {
    padding:5px;
    margin:0;
}

#sidebar_container {
    margin-left:50px;
    margin-top:-45px; /** NOTE: VERY IMPORTANT THAT THIS MARGIN IS - (WHATEVER THE HEIGHT OF HEADER BAR IS )**/
}

nav {
    margin-top:30px;
    width:250px;
    padding-bottom:30px;
}

nav fieldset {
    width:80%;
    margin:auto;
    padding-bottom:8px;

}

nav ul {
    list-style:none;
    margin:auto;
    padding:0;
}

nav li{
    padding-top:5px; 
    height:20px; 
    display:block;
}

nav li a{
    text-align:center;
    height:20px; 

    font:16px "Trebuchet MS", Georgia, Arial, Helvetica, sans-serif; 
    color:white;
    display:block; 
    text-decoration:none;
}

nav li a:hover{
    color:#FFEC0F;
}

legend {
    margin:auto;
    color:inherit;
    font: 16px "Trebuchet MS" bold;
}

#sidebar_top {
    float:left;
    width:250px;
    height:540px;
    background:url(_images/nav_top.png) no-repeat;
    padding-top:20px;
    text-align:center;
    color:white;
}

#sidebar_top h3 {
    font: 50px "Trebuchet MS";
    padding:0;
    margin:0;	
}

#sidebar_top img{
    margin:auto;
    width:40%;
    height:auto;	
}

#sidebar_bottom{
    float:left;
    clear:both;
    width:250px;
    height:200px;
    background:url(_images/nav_bottom.png) no-repeat;
    background-size:100%;
    margin-left:1px;
}


#container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background:url(_images/uni_background.png) no-repeat center center fixed;
    width:100%;
    min-height:800px;
    margin-top:0px;
    padding-top:0px;
}

#main_content_area {
    border-style:solid;
    border-color:#CCC;
    min-height:200px;
    border-width:thick;
    margin-top:100px;
    margin-left:400px;
    margin-right:50px;
    width:auto;
    padding:15px;
    overflow:hidden;
    overflow-wrap:normal;
    text-justify:auto;
    background:url(_images/transparent_panel.png) repeat;
}

#footer {
    background:url(_images/transparent_panel.png) repeat;
    clear:both;
    text-align:right;
    padding-right:20px;
    white-space: nowrap;
}
